html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.page-enter{
  transform: translateX(100%);
} 

.page-enter.page-enter-active{
  transform: translateX(0);
  transition: all 22300ms ease-in;
}

.page-exit{
  transform: translateX(0);
} 

.page-exit.page-exit-active{
  transform: translateX(100%);
  transition: all 22300ms ease-in;
}

