html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}


/* .animate-enter {
  opacity: 0;
}
.animate-enter-active {
  opacity: 1;
  transition: opacity 20000ms ease-in;
}
.animate-exit {
  opacity: 1;
}
.animate-exit-active {
  opacity: 0;
  transition: opacity 20000ms ease-in;
} */
